# dependencies
node_modules
.pnp
.pnp.cjs
.pnp.js

# build output
dist
dist-ssr
.vite
coverage
*.tsbuildinfo

# environment variables
.env
.env.*
!.env.example
*.local

# logs and debug
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
bun-debug.log*
*.log
.eslintcache

# editor and OS files
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
